{% extends 'layouts/base.html' %}
{% load static %}
{% load join_as_strings %}
{% block content %}

<!-- [ Main Content ] start -->
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Newspaper</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="{% url 'newspapers:newspapers' %}">Newspapers</a></li>
							<li class="breadcrumb-item"><a href="#">{{ newspaper.title }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ Typography ] start -->
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h1>
							{{ newspaper.title }}
							<a href="{% url 'newspapers:newspaper-update' newspaper.id %}" class="btn btn-primary float-end rounded">
								<i class="feather icon-edit"></i>
							</a>
						</h1>
						<span>Topic: {{ newspaper.topic.name }}</span>
					</div>
					<div class="card-body">
						<p class="mb-4">{{ newspaper.content }}</p>
					</div>
					<div class="card-footer">
						<h5>Published by: {{ newspaper.publishers.all|join_as_strings:", " }}</h5>
					</div>
				</div>
			</div>
			<!-- [ Typography ] end -->
		</div>
		<!-- [ Main Content ] end -->
<!-- [ Main Content ] end -->
{% endblock content %}
